In [2]:
import json
import eia
import pandas as pd
import numpy as np

In [96]:
def retrieve_time_series(api, series_ID):
    """
    Return the time series dataframe, based on API and unique Series ID
    """
    #Retrieve Data By Series ID 
    series_search = api.data_by_series(series=series_ID)
    ##Create a pandas dataframe from the retrieved time series
    df = pd.DataFrame(series_search)
    return df

def main():
    """
    Run main script
    """
    # EIA provides data independently for each state, therefore, we will extract data for each state as a dataframe
    # and concatinate based on series and then extract to a CSV 
    
    complete_df = []
    states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'}
    series_dict = {'TEPRB': 'Total energy production (Billion Btu)',  'TETCB': 'Total energy consumption (Billion Btu)',
               'CLPRB': 'Total Coal production (Billion Btu)','PAPRB': 'Total Crude Oil production (Billion Btu)',
               'NUETB': 'Total Nuclear production (Billion Btu)','NGMPB': 'Total Natural Gas production (Billion Btu)',
               'REPRB': 'Total Renewable Energy production (Billion Btu)','TETCD': 'Total energy average price (Dollars per million Btu)'}
    #Create EIA API using your specific API key
    api_key = "ef25e28cf1a3fc3ddd65cb1e944bc96b"
    api = eia.API(api_key)
    #Declare desired series ID, concatenate state dataframes, extract to CSV, clear the empty df for new series loop
    for key, value in series_dict.items(): 
        for k, v in states.items(): 
            series_ID='SEDS.'+key+'.'+ k +'.A'
            df=retrieve_time_series(api, series_ID)
            df.reset_index()
            df['State']= v
            df.rename(columns={df.columns[0]: value}, inplace = True)
            complete_df.append(df)
        complete_df = pd.concat(complete_df)
        complete_df.to_csv('completed_'+value+'.csv')
        complete_df = []


if __name__== "__main__":
    main()

In [66]:
data1 = pd.read_csv('total_energy_production.csv')

In [74]:
# data1[data1['Year']==2002]

In [99]:
series_dict = {'TEPRB': 'Total energy production (Billion Btu)',  'TETCB': 'Total energy consumption (Billion Btu)',
               'CLPRB': 'Total Coal production (Billion Btu)','PAPRB': 'Total Crude Oil production (Billion Btu)',
               'NUETB': 'Total Nuclear production (Billion Btu)','NGMPB': 'Total Natural Gas production (Billion Btu)',
               'REPRB': 'Total Renewable Energy production (Billion Btu)','TETCD': 'Total energy average price (Dollars per million Btu)'}

filenames = []
for key, value in series_dict.items():
    filenames.append('completed_'+value+'.csv')

In [100]:
filenames

['completed_Total energy production (Billion Btu).csv',
 'completed_Total energy consumption (Billion Btu).csv',
 'completed_Total Coal production (Billion Btu).csv',
 'completed_Total Crude Oil production (Billion Btu).csv',
 'completed_Total Nuclear production (Billion Btu).csv',
 'completed_Total Natural Gas production (Billion Btu).csv',
 'completed_Total Renewable Energy production (Billion Btu).csv',
 'completed_Total energy average price (Dollars per million Btu).csv']

In [ ]:
'completed_'+value+'.csv'

filenames = ["/Users/Phani/Desktop/sales-jan-2015.csv",
"/Users/Phani/Desktop/sales-feb-2015.csv"]
dataframes = []
for f in filenames:
    dataframes.append(pd.read_csv(f))

In [105]:
df_name = ['t_production', 't_consumption', 'coal_p', 'oil_p', 'nuclear_p', 'naturalgas_p', 'renewable_p', 'avg_price']

dict_pair = dict(zip(df_name, filenames)) 

for key, value in dict_pair.items(): 
    df[key] = pd.read_csv(value)
    
# full_df = pd.merge()
data1.rename(columns={'Unnamed: 0': 'Year'})

NameError: name 'df' is not defined

In [113]:
t_production = pd.read_csv('completed_Total energy production (Billion Btu).csv')
t_production = t_production.rename(columns={'Unnamed: 0': 'Year'})
t_production['ID'] = t_production['Year'].astype(str) + t_production['State']

t_consumption = pd.read_csv('completed_Total energy consumption (Billion Btu).csv')
t_consumption = t_consumption.rename(columns={'Unnamed: 0': 'Year'})
t_consumption['ID'] = t_consumption['Year'].astype(str) + t_consumption['State']

coal_p = pd.read_csv('completed_Total Coal production (Billion Btu).csv')
coal_p = coal_p.rename(columns={'Unnamed: 0': 'Year'})
coal_p['ID'] = coal_p['Year'].astype(str) + coal_p['State']

oil_p = pd.read_csv('completed_Total Crude Oil production (Billion Btu).csv')
oil_p = oil_p.rename(columns={'Unnamed: 0': 'Year'})
oil_p['ID'] = oil_p['Year'].astype(str) + oil_p['State']

nuclear_p = pd.read_csv('completed_Total Nuclear production (Billion Btu).csv')
nuclear_p = nuclear_p.rename(columns={'Unnamed: 0': 'Year'})
nuclear_p['ID'] = nuclear_p['Year'].astype(str) + nuclear_p['State']

naturalgas_p = pd.read_csv('completed_Total Natural Gas production (Billion Btu).csv')
naturalgas_p = naturalgas_p.rename(columns={'Unnamed: 0': 'Year'})
naturalgas_p['ID'] = naturalgas_p['Year'].astype(str) + naturalgas_p['State']

renewable_p = pd.read_csv('completed_Total Renewable Energy production (Billion Btu).csv')
renewable_p = renewable_p.rename(columns={'Unnamed: 0': 'Year'})
renewable_p['ID'] = renewable_p['Year'].astype(str) + renewable_p['State']

avg_price = pd.read_csv('completed_Total energy average price (Dollars per million Btu).csv')
avg_price = avg_price.rename(columns={'Unnamed: 0': 'Year'})
avg_price['ID'] = avg_price['Year'].astype(str) + avg_price['State']

In [122]:
full_df= t_production.merge(t_consumption).merge(coal_p).merge(oil_p).merge(nuclear_p).merge(naturalgas_p).merge(renewable_p).merge(avg_price)

In [130]:
full_df 
full_df.to_csv('Energy_Analysis.csv')

In [136]:
full_df['State'].unique().size

51

In [128]:
full_df = full_df.drop(['ID'], axis=1)

In [151]:
elec = pd.read_excel('c:/Users/denis/Desktop/Projects/Energy Analysis/Imported Data/annual_generation_state.xls')

In [191]:
elec_g = elec.groupby(['YEAR', 'STATE','ENERGY SOURCE']).agg({'GENERATION (Megawatthours)': ['sum']})

In [183]:
 states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'}
    
elec['STATE'] = elec['STATE'].map(states)

In [190]:
elec.to_csv('Elec_NOTGrouped.csv')

In [182]:
elec['YEAR'].value_counts()
# train[null_columns].isnull().sum()

2018    1758
2017    1739
2016    1719
2014    1703
2015    1694
2013    1665
2012    1633
2011    1595
2010    1581
2009    1539
2008    1526
2007    1476
2006    1465
2005    1453
2004    1451
2003    1437
2002    1429
2001    1370
2000    1318
1999    1280
1998    1278
1997    1265
1996    1252
1995    1242
1994    1226
1993    1204
1992    1187
1991    1161
1990    1137
Name: YEAR, dtype: int64

In [192]:
elec_g.to_csv('Elec_Grouped.csv')

In [ ]:
0
20,319,519
111,722,643
64,420,228
47,302,414
25,912,474
0
411,786
25,500,688
9,266,276
182,256
6,235
83,162
541,836
8,452,786
5,382,866
23,601
5,359,265
33,322,379
388,886
0
32,933,494
62,038,835
384,661
12,826,719
48,827,456
39,679,287
399,586
638,162
38641538

In [160]:
elec_g

                                          GENERATION (Megawatthours)
                                                                 sum
YEAR STATE ENERGY SOURCE
1990 AK    Coal                                            1021146.0
           Hydroelectric Conventional                      1949042.0
           Natural Gas                                     6932522.0
           Petroleum                                        994232.0
           Total                                          11199012.0
...                                                              ...
2018 WY    Other Gases                                      755282.0
           Petroleum                                         80271.0
           Solar Thermal and Photovoltaic                     1648.0
           Total                                          92224272.0
           Wind                                            8114316.0

[14218 rows x 1 columns]