In [2]:
import json
import eia
import pandas as pd

In [52]:
# states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
#           "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
#           "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
#           "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
#           "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

def retrieve_time_series(api, series_ID):
    """
    Return the time series dataframe, based on API and unique Series ID
    """
    #Retrieve Data By Series ID 
    series_search = api.data_by_series(series=series_ID)
    ##Create a pandas dataframe from the retrieved time series
    df = pd.DataFrame(series_search)
    return df

def main():
    """
    Run main script
    """
    complete_df = []
    states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
    
    #Create EIA API using your specific API key
    api_key = "ef25e28cf1a3fc3ddd65cb1e944bc96b"
    api = eia.API(api_key)
    #Declare desired series ID
    for x in states: 
        series_ID='SEDS.TEPRB.'+ x +'.A'
        df=retrieve_time_series(api, series_ID)
        df.reset_index()
        df['Name']= x
        df.rename(columns={df.columns[1]: "Total energy production", df.columns[0]: "Year"}, inplace = True)
        complete_df.append(df)
    # see pd.concat documentation for more info
    complete_df = pd.concat(complete_df)
        #Print the returned dataframe df
    print(complete_df)
    complete_df.to_csv('total_energy_production.csv')


if __name__== "__main__":
    main()

           Year Total energy production
1960     474228                      AL
1961     474778                      AL
1962     484723                      AL
1963     469027                      AL
1964     541262                      AL
...         ...                     ...
2013    9232414                      WY
2014    9358077                      WY
2015    9080265                      WY
2016    7517819                      WY
2017    7788434                      WY

[2958 rows x 2 columns]

In [66]:
data1 = pd.read_csv('total_energy_production.csv')

In [67]:
data1.head(100)
data1 = data1.rename(columns={'Year': "Total energy production", 'Unnamed: 0': 'Year', 'Total energy production' : "State"})

In [71]:
data1[data1['Year']==2002]

      Year  Total energy production State
42    2002                  1485681    AL
100   2002                  2659615    AK
158   2002                   689876    AZ
216   2002                   469254    AR
274   2002                  2925697    CA
332   2002                  1924325    CO
390   2002                   184091    CT
448   2002                      881    DC
506   2002                     1314    DE
564   2002                   552237    FL
622   2002                   608531    GA
680   2002                    10452    HI
738   2002                   113779    ID
796   2002                  1912105    IL
854   2002                   854384    IN
912   2002                   160968    IA
970   2002                   836858    KS
1028  2002                  3271650    KY
1086  2002                  2565822    LA
1144  2002                   140385    ME
1202  2002                   290409    MD
1260  2002                   106960    MA
1318  2002                   741478    MI
1376  2002                   250113    MN
1434  2002                   436130    MS
1492  2002                   128691    MO
1550  2002                   972017    MT
1608  2002                   193440    NE
1666  2002                    42636    NV
1724  2002                   125950    NH
1782  2002                   351001    NJ
1840  2002                  2707462    NM
1898  2002                   816260    NY
1956  2002                   539009    NC
2014  2002                   673055    ND
2072  2002                   799350    OH
2130  2002                  2216537    OK
2188  2002                   401491    OR
2246  2002                  2803407    PA
2304  2002                     3700    RI
2362  2002                   637467    SC
2420  2002                    63264    SD
2478  2002                   526517    TN
2536  2002                  9272256    TX
2594  2002                   972651    UT
2652  2002                    64091    VT
2710  2002                  1235676    VA
2768  2002                  1073718    WA
2826  2002                  4047229    WV
2884  2002                   231538    WI
2942  2002                  8443561    WY